@import '@/style/index.scss'; // 引入基础配置

$com-goods-group-prefix: 'com-goods-group';

.#{$com-goods-group-prefix} {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
}
