@import '@/style/index';
.sc-empty {
  flex: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sc-empty-img {
  position: relative;
}

.sc-empty-message {
  position: relative;
  @extend %font-extra_text;
  font-size: 13px;
}
