$com-coupon-group-prefix: 'com-coupon-group';

.#{$com-coupon-group-prefix}-g2 {
  position: relative;
  height: auto;
  display: flex;

  &-content {
    position: relative;
    width: 100%;
  }

  &-item {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
