@font-face {
  font-family: 'iconfont'; /* Project id 3664463 */
  src: url('../../assets/fonts/iconfont.woff2') format('woff2'),
    url('../../assets/fonts/iconfont.woff') format('woff'),
    url('../../assets/fonts/iconfont.ttf') format('truetype');
}

.sc-icon {
  position: relative;
  font: normal normal normal 28px/1 'iconfont';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.sc-icon,
.sc-icon:before {
  display: inline-block;
}

.sc-icon-cart:before {
  content: '\e60c';
}

.sc-icon-cart-circle:before {
  content: '\e60d';
}

.sc-icon-callsmall-outlined:before {
  content: '\e726';
}

.sc-icon-callbig-outlined:before {
  content: '\e727';
}

.sc-icon-navigationsmall-outlined:before {
  content: '\e728';
}

.sc-icon-call-filled:before {
  content: '\e720';
}

.sc-icon-contactphone-outlined:before {
  content: '\e721';
}

.sc-icon-navigation-filled:before {
  content: '\e722';
}

.sc-icon-pickup-time:before {
  content: '\e723';
}

.sc-icon-shop-line:before {
  content: '\e724';
}

.sc-icon-enterprise-user:before {
  content: '\e725';
}

.sc-icon-left-outlined:before {
  content: '\e71d';
}

.sc-icon-down-outlined:before {
  content: '\e71e';
}

.sc-icon-up-outlined:before {
  content: '\e71f';
}

.sc-icon-address-filled:before {
  content: '\e714';
}

.sc-icon-right-outlined:before {
  content: '\e716';
}

.sc-icon-address-linear:before {
  content: '\e718';
}

.sc-icon-express-linear:before {
  content: '\e719';
}

.sc-icon-choose:before {
  content: '\e645';
}

.sc-icon-position-big:before {
  content: '\e665';
}

.sc-icon-warning-circle-fill:before {
  content: '\e848';
}

.sc-icon-ascending:before {
  content: '\e602';
}

.sc-icon-descending:before {
  content: '\e69e';
}

.sc-icon-chat-o:before {
  content: '\e641';
}

.sc-icon-share:before {
  content: '\e86e';
}

.sc-icon-chat:before {
  content: '\e643';
}

.sc-icon-share-o:before {
  content: '\e6b3';
}

.sc-icon-other-pay:before {
  content: '\e661';
}

.sc-icon-smile:before {
  content: '\e737';
}

.sc-icon-record:before {
  content: '\e635';
}

.sc-icon-wallet-filled:before {
  content: '\e62a';
}

.sc-icon-question-circle-outlined:before {
  content: '\e623';
}

.sc-icon-public-select:before {
  content: '\e630';
}

.sc-icon-head-portrait-filled:before {
  content: '\e62c';
}

.sc-icon-enterprise-outlined:before {
  content: '\e629';
}

.sc-icon-minus-outlined:before {
  content: '\e682';
}

.sc-icon-swap-outlined:before {
  content: '\e61e';
}

.sc-icon-dislike-outlined:before {
  content: '\e61f';
}

.sc-icon-like-outlined:before {
  content: '\e676';
}

.sc-icon-left-circle-filled:before {
  content: '\e67c';
}

.sc-icon-to-top-outlined:before {
  content: '\e67e';
}

.sc-icon-scan-outlined:before {
  content: '\e67f';
}

.sc-icon-user-outlined:before {
  content: '\e680';
}

.sc-icon-upload-outlined:before {
  content: '\e681';
}

.sc-icon-nodelivery-outlined:before {
  content: '\e61d';
}

.sc-icon-phone-outlined:before {
  content: '\e63f';
}

.sc-icon-oder-outlined:before {
  content: '\e619';
}

.sc-icon-menu-outlined:before {
  content: '\e618';
}

.sc-icon-team-outlined:before {
  content: '\e6d4';
}

.sc-icon-close-outlined:before {
  content: '\e61c';
}

.sc-icon-edit-outlined:before {
  content: '\e615';
}

.sc-icon-check-circle-outlined:before {
  content: '\e612';
}

.sc-icon-pay-circle-outlined:before {
  content: '\e60b';
}

.sc-icon-search-outlined:before {
  content: '\e614';
}

.sc-icon-environment-filled:before {
  content: '\e60a';
}

.sc-icon-gift-outlined:before {
  content: '\e600';
}

.sc-icon-plus-outlined:before {
  content: '\e66f';
}

.sc-icon-caret-down-outlined:before {
  content: '\e609';
}

.sc-icon-caret-up-outlined:before {
  content: '\e675';
}

.sc-icon-shop-outlined:before {
  content: '\e608';
}

.sc-icon-receipt-two-tone:before {
  content: '\e607';
}

.sc-icon-wallet-two-tone:before {
  content: '\e601';
}

.sc-icon-oder-two-tone:before {
  content: '\e605';
}

.sc-icon-service-two-tone:before {
  content: '\e606';
}

.sc-icon-share-alt-outlined:before {
  content: '\e604';
}

.sc-icon-store-outlined:before {
  content: '\e603';
}

.sc-icon-down-circle-two-tone:before {
  content: '\e66d';
}

.sc-icon-right-circle-two-tone:before {
  content: '\e66a';
}

.sc-icon-store-two-tone:before {
  content: '\e669';
}

.sc-icon-scan-two-tone:before {
  content: '\e668';
}

.sc-icon-soundbite-outlined:before {
  content: '\e667';
}

.sc-icon-remind-filled:before {
  content: '\e666';
}

.sc-icon-load-fail-outlined:before {
  content: '\e671';
}

.sc-icon-sync-outlined:before {
  content: '\e662';
}

.sc-icon-logo:before {
  content: '\e660';
}

.sc-icon-info-circle-outlined:before {
  content: '\e65f';
}

.sc-icon-double-down-outlined:before {
  content: '\e65e';
}

.sc-icon-clock-circle-outlined:before {
  content: '\e65d';
}

.sc-icon-membership-code-outlined:before {
  content: '\e65c';
}

.sc-icon-all-order-outlined:before {
  content: '\e65b';
}

.sc-icon-safety-certificate-outlined:before {
  content: '\e65a';
}

.sc-icon-wallet-outlined:before {
  content: '\e659';
}

.sc-icon-dinner-outlined:before {
  content: '\e658';
}

.sc-icon-pickup-outlined:before {
  content: '\e657';
}

.sc-icon-expand-alt-outlined:before {
  content: '\e656';
}

.sc-icon-write-outlined:before {
  content: '\e655';
}

.sc-icon-copy-filled:before {
  content: '\e654';
}

.sc-icon-random-outlined:before {
  content: '\e653';
}

.sc-icon-upload-two-outlined:before {
  content: '\e652';
}

.sc-icon-download-filled:before {
  content: '\e651';
}

.sc-icon-weChat-filled:before {
  content: '\e650';
}

.sc-icon-change-chart-filled:before {
  content: '\e64f';
}

.sc-icon-logo-filled:before {
  content: '\e64d';
}

.sc-icon-close-circle-outlined:before {
  content: '\e64a';
}

.sc-icon-sounds-outlined:before {
  content: '\e649';
}

.sc-icon-mute-outlined:before {
  content: '\e648';
}

.sc-icon-pause-outlined:before {
  content: '\e647';
}

.sc-icon-play-outlined:before {
  content: '\e646';
}

.sc-icon-uncountable-outlined:before {
  content: '\e642';
}

.sc-icon-telephone-outlined:before {
  content: '\e63d';
}

.sc-icon-smail-outlined:before {
  content: '\e63c';
}

.sc-icon-editor-outlined:before {
  content: '\e63b';
}

.sc-icon-expired-outlined:before {
  content: '\e63a';
}

.sc-icon-already-used-Outlined:before {
  content: '\e639';
}

.sc-icon-check-circle-filled:before {
  content: '\e636';
}

.sc-icon-close-circle-filled:before {
  content: '\e638';
}

.sc-icon-picture-outlined:before {
  content: '\e634';
}

.sc-icon-shopping-cart-outlined:before {
  content: '\e632';
}

.sc-icon-delete-outlined:before {
  content: '\e62f';
}

.sc-icon-right-circle-outlined:before {
  content: '\e631';
}

.sc-icon-setting-outlined:before {
  content: '\e62e';
}

.sc-icon-invoice-outlined:before {
  content: '\e62d';
}

.sc-icon-address-management-outlined:before {
  content: '\e62b';
}

.sc-icon-invitational:before {
  content: '\e628';
}

.sc-icon-online-customer-service:before {
  content: '\e627';
}

.sc-icon-remind-outlined:before {
  content: '\e626';
}

.sc-icon-environment-outlined:before {
  content: '\e625';
}

.sc-icon-plus-circle-outlined:before {
  content: '\e621';
}

.sc-icon-position-filled:before {
  content: '\e620';
}
