@import '@/style/index.scss'; // 引入基础配置

$stepper-initbtn-prefix: 'com-stepper-initbtn';

.#{$stepper-initbtn-prefix}-fill {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: $sc-dominant-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20px;
}

.#{$stepper-initbtn-prefix}-fill::before {
  position: absolute;
  top: -10px;
  right: -5px;
  bottom: -10px;
  left: -5px;
  margin: auto;
  background-color: $sc-color-bg-light;
  content: '';
  width: 12px;
  height: 2px;
  border-radius: 1px;
}

.#{$stepper-initbtn-prefix}-fill::after {
  position: absolute;
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
  margin: auto;
  background-color: $sc-color-bg-light;
  content: '';
  width: 2px;
  height: 12px;
  border-radius: 1px;
}

.#{$stepper-initbtn-prefix}-fill-samll {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.#{$stepper-initbtn-prefix}-cart1 {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$stepper-initbtn-prefix}-cart2 {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$stepper-initbtn-prefix}-hollow {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  @include border-thin($color: $sc-dominant-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20px;
}

.#{$stepper-initbtn-prefix}-hollow::before {
  position: absolute;
  top: -10px;
  right: -5px;
  bottom: -10px;
  left: -5px;
  margin: auto;
  background-color: $sc-dominant-color;
  content: '';
  width: 12px;
  height: 2px;
  border-radius: 1px;
}

.#{$stepper-initbtn-prefix}-hollow::after {
  position: absolute;
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
  margin: auto;
  background-color: $sc-dominant-color;
  content: '';
  width: 2px;
  height: 12px;
  border-radius: 1px;
}

.#{$stepper-initbtn-prefix}-hollow-samll {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.#{$stepper-initbtn-prefix}-circle-fill {
  position: relative;
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  border-radius: 12px;
  background-color: $sc-dominant-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$stepper-initbtn-prefix}-circle-fill__text {
  @extend %font-white_text;
  line-height: 24px;
  font-size: 12px;
}

.#{$stepper-initbtn-prefix}-square-fill {
  position: relative;
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  background-color: $sc-dominant-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$stepper-initbtn-prefix}-square-fill__text {
  @extend %font-white_text;
  line-height: 24px;
  font-size: 12px;
}

.#{$stepper-initbtn-prefix}-circle-hollow {
  position: relative;
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include border-thin($color: $sc-dominant-color);
}

.#{$stepper-initbtn-prefix}-circle-hollow__text {
  @extend %font-dominant_text;
  line-height: 24px;
  font-size: 12px;
}

.#{$stepper-initbtn-prefix}-square-hollow {
  position: relative;
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include border-thin($color: $sc-dominant-color);
}

.#{$stepper-initbtn-prefix}-square-hollow__text {
  @extend %font-dominant_text;
  line-height: 24px;
  font-size: 12px;
}
